.my-container{
    width: 100%;
    margin: auto;
    align-items: center;
}
.menu{
    height: 13%;
    align-items: center;
    text-align: center;
    display: flex;
    width: 50%;
    margin: auto;
}
.grid{
    width: 50%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    border: 5px solid black;
    border-radius: 0.5%;
    margin: auto;
}

.item{
    /* align-self: stretch; */
    width: calc(100%/16);
    height: calc(100%/16);
    transition: all 0.1s;
    border: solid black 1px;
    margin: 0;
}

.activated{
    background-color: black;
    transition: all o.1s;
}

.my-btn{
    height: 3em;
    width: 25%;
    margin: 10px auto;
    display: inline-block;
    font-weight: 600;
    font-size: large;
    border-radius: 10em;
}

html, body, .my-container{
    height: 100%;
}

body{
    margin: 0;
}

.title{
    text-align: center;
    letter-spacing: 0.1em;
}

#mode {
    width: 35%;
}

select:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: lightgray !important;
}

.input-group{
    width: 40%;
    margin: 0 !important;
}

select#mode{
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    height: 3em;
    margin: 10px auto;
    font-size: large;
    font-weight: 600;
}

#mode-label{
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    height: 3em;
    margin: 10px auto;
    font-size: large;
    font-weight: 600;
}
